body{
    background: #000000;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 3px;
    height: 14.6em;
    background-color: rgb(0, 0, 0);
}

.header .h1{
    display: flex;
    flex-direction: column;
    padding: 3px 15px 0;
    color: #c97e1c;
}

.h1{
    align-self: center;
}

.h1 h1{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 8em;
    font-family: 'Satisfy', cursive;
}

.h1 .h5{
    align-self: flex-end;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 4px;
}

.h2{
    align-self: flex-start;
    color: #f5e9da;
    letter-spacing: 10px;
    margin-left: 10px;
    text-shadow: -2px 8px 15px #ffffff98;
    font-family: 'Bungee', cursive;
}
.contactos{
    align-self: flex-end;
    margin-right: 5px;
    transform:translateY(-31px);
}


.Gmail, .IN, .WSP{
    width: 1.2em;
    padding: 5px;
    margin: 0 10px;
    font-size:2em;
    text-align: center;
    color: #c97e1c;
    text-decoration: none;
}

.Navegacion_en_pagina{
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8687850140056023) 0%, rgba(201,126,28,1) 22%, rgba(91,56,7,1) 80%);
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid black;
    height: 5.5em;
}

.redirecciones{
    font-size: 5em;
    color: black;
    text-decoration: none;
}


h3{
    font-family: 'Skranji', cursive;
    color: #f5e9da;
    font-size: 3em;
    letter-spacing:10px;
    text-align:center;
}

.yo_soy{
    background: black;
    border-top: solid 2px #f5e9dac2;
    border-left: solid 2px #f5e9dac2;
    border-right: solid 2px #f5e9dac2;
}
.skills{
    letter-spacing:10px;
    color: rgb(255, 255, 255);
    margin-bottom: 1em;
    background: #000000;
    border-top: solid 2px #f5e9dac2;
    border-right: solid 2px #f5e9dac2;
    border-left: solid 2px #f5e9dac2;
}

.img_skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.html, .css{
    width: 18em;
    padding: 5px;
}

/*Navegadores*/
/*CONTACTOS*/


/*       TRABAJOS          */

.proximamente{
    font-family: 'Caesar Dressing', cursive;
}


/*       DESCRIPCION MIA       */

.grid_descripcion_skills{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    padding: 10px;
}

.items_grid_descripcion, .items_grid_skills{
    background: #f5e9dac2;
}
.items_grid_descripcion{
    border-right: none;
}
.items_grid_skills{
    border-left: none;
}


.descripcion{
    text-align: left;
    font-size: 1.3em;
    width: 40em;
    padding: 5px;
}




.proximamente{
    color: #f5e9da;
    text-align: center;
    margin-top: 0.5em;
    font-size: 15em;
}





@media only screen and (max-width:900px){
    
}